:root {
    --main: rgb(151, 72, 72);
    --darker-red: rgba(249, 0, 0, 0.1);
    --black: #010101;
    --light-blue: #c5dbfe;
}

html {
    background: url(https://images.unsplash.com/photo-1618944913553-303a9de0ade7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: "Open Sans", sans-serif;
}

nav {
    background-color: #010101a5;
    padding: 5px;
}

.content {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--main);
}

.heading {
    color: var(--light-blue);
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.error {
    border: 2px solid rgb(255, 0, 0);
    padding: 1rem;
    color: rgb(139, 0, 0);
    background: var(--darker-red);
    display: flex;
    flex-wrap: wrap;
}

.error:after {
    content: "An error occurred.";
}

.loader {
    border: 12px solid var(--main);
    border-top: 12px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 4s linear infinite;
    color: var(--darker-red);
}

.card, .container {
    width: 120px;
    border: 3px;
    border-style: groove;
    border-radius: 5%;
    text-decoration: none;
    color: var(--main);
    background: #e3bcbc;
    margin: 15px;
}

.container {
    width: 300px;
    padding: 10px;
}

.details, .link {
    font-size: large;
    text-decoration: none;
}

.link {
    color: var(--light-blue);
}

.properties, .link:hover {
    color: var(--black);
}

.card:hover, button:hover {
    background-color:var(--light-blue);
    color: var(--black);
}

form {
    width: 200px;
    border-radius: 5%;
    margin: auto;
    color: var(--main);
}

input {
    width: 100%;
    margin-top: 1px;
    padding: 5px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}

button {
    background: var(--main);
    color: whitesmoke;
    cursor:pointer;
    width: 100px;
    margin-top: 10px;
    padding: 5px;
}

.message {
    background: var(--main);
    padding: 7px;
    margin: 5px;
    color: var(--light-blue);
    border-radius: 5px;
}

.success {
    background: rgb(109, 173, 13);
    padding: 7px;
    margin: 5px;
    color: var(--black);
    border-radius: 5px;
}

.founder, .ghost, .room {
    font-style: italic;
    color: var(--black);
}

h5 {
    margin-bottom: 0;
}

.properties {
    margin-top: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}