body {
    background: #ebebeb;
    font-family: "Open Sans", sans-serif;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.error {
    border: 2px solid rgb(255, 0, 0);
    padding: 1rem;
    color: darkred;
    background: rgba(249, 0, 0, 0.1);
}

.error:after {
    content: "An error occurred.";
}

.loader {
    border: 16px solid rgb(151, 72, 72);
    border-top: 16px solid rgba(249, 0, 0, 0.1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    animation: spin 4s linear infinite;
    display: visible;
}

.card {
    width: 120px;
    border: 3px;
    border-style: groove;
    border-radius: 5%;
    margin: auto;
    list-style: none;
    text-decoration: none;
    color: rgb(151, 72, 72);
}

.details {
    color: rgb(151, 72, 72);
}

.properties {
    color: #010101;
}

.card:hover {
    background-color:#c5dbfe;
    color: #010101;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}