:root {
    --background: #e5bcf8;
    --main: rgb(151, 72, 72);
    --red: rgb(255, 0, 0);
    --dark-red: rgb(139, 0, 0);
    --almost-black: rgba(249, 0, 0, 0.1);
    --black: #010101;
    --light-blue: #c5dbfe;
}

body {
    background: var(--background);
    font-family: "Open Sans", sans-serif;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.error {
    border: 2px solid var(--red);
    padding: 1rem;
    color: var(--dark-red) ;
    background: var(--almost-black);
    display: flex;
    flex-wrap: wrap;
}

.error:after {
    content: "An error occurred.";
}

.loader {
    border: 16px solid var(--main);
    border-top: 16px solid var(--almost-black);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 50%;
    animation: spin 4s linear infinite;
    display: visible;
}

.card {
    width: 120px;
    border: 3px;
    border-style: groove;
    border-radius: 5%;
    margin: auto;
    list-style: none;
    text-decoration: none;
    color: var(--main);
}

.details {
    color: var(--main);
    font-size: large;
}

.properties {
    color: var(--black);
}

.card:hover {
    background-color:var(--light-blue);
    color: var(--black);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}