body {
    background: #ebebeb;
    font-family: "Open Sans", sans-serif;
}

/* h1 {
    margin-left: 1rem;
} */

/* .container {
    max-width: 1100px;
    margin: 0 auto;
} */

.results {
    display: flex;
    flex-wrap: wrap;
}

/* .result {
    margin: 1rem;
    padding: 1rem;
    max-width: 200px;
    background: white;
    border: 1px solid grey;
    border-radius: 1rem;
} */

/* .success {
    border: 1px solid rgb(114, 251, 114);
    padding: 1rem;
    color: rgb(114, 251, 114);
    background: rgba(0, 255, 0, 0.1);
} */

/* .error {
    border: 1px solid darkred;
    padding: 1rem;
    color: darkred;
    background: rgba(255, 0, 0, 0.1);
} */

/* .loader {
    border: 16px solid #bffff9;
    border-top: 16px solid rgb(0, 83, 139);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    animation: spin 2s linear infinite;
} */

.card {
    width: 120px;
    border: 3px;
    border-style: groove;
    border-radius: 5%;
    margin: auto;
    list-style: none;
    text-decoration: none;
    color: rgb(151, 72, 72);
}

.details {
    color: rgb(151, 72, 72);
}